# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
loadflow.db
loadflow.db-journal

# Node
node_modules/
dist/
dist-ssr/
*.local

# OS
.DS_Store
Thumbs.db

# Gemini / Local App Data
.gemini/
antigravity/
artifacts/
